@font-face {
  font-family: KievitOTLight;
  src: url('KievitOT-Light.otf');
}

header {
  .title {
    h1 {
      font-size: 4.5em;
      text-align: center;
      font-family: KievitOTLight;
      padding-top: 50px;
      color: #339ff4;

    }
  }
}

#main-container {
  margin-top: 75px;

  h2 {
    font-family: KievitOTLight;
    color: #339ff4;
  }
}

body {
  background: #202f3e;
  color: white;
}