.header {
    background: #112130;
    height: 150px;
}

.title {
    font-family: KievitOT-Light;
    font-size: 1.5em;
    text-align: center;
    padding-top: 3.5%;
}

body {
    background: #202f3e;
    color: white;
}
